body
{
  color:black;
}


.navbar 
{
  margin-left: -10px;
  background-color: #6e6b6a;
  position: fixed;
  margin-bottom: 50px; 
  top: 0; 
  width: 100%;
  z-index: 1;
}

.navbar a 
{
  float: right;
  display: block;
  color: #f2f2f2;
  padding: 20px ;
  text-decoration: none;
  font-size: 18px;
  margin-right: 80px;
}


.navbar a:hover 
{
  background: #ddd;
  color: black;
}

h1{
  margin-top: 100px;
  text-align: center;
  text-decoration: underline;
  
}

h2{
  margin-top: 110px;
  text-align: center;
  
  text-decoration: underline;
}

h3{
  margin-top: 110px;
  text-align: center;
  text-decoration: underline;
}

#biographie{
  color: white;
  text-align: center;
  margin:auto;
  width: 600px;
  height: 200px;
  border-width : 20px;
  border-color : green;
  border-style : ridge;
  background-image:url(../images/fond.jpg);
  
}

#billetintro{
  color: white;
  width: 600px;
  height: 200px;
  text-align: center;
  margin:auto;
  border-width : 10px;
  border-color : green;
  border-style : ridge;
  background-image:url(../images/fond.jpg);
}

#fonctionnement{
  color: white;
  width: 600px;
  height: 200px;
  text-align: center;
  margin:auto;
  border-width : 10px;
  border-color : green;
  border-style : ridge;
  background-image:url(../images/fond.jpg);
}

#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
}

form {
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

.error{
  position:absolute;
  margin-top: 10px;
  margin-left:45%;
}

.list{
  margin-top: 200px;
}

#wysibb
{
  width: 200px;
  height: 500px;
}